name: Java CI con tests y artefacto

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: clonamos el código
        uses: actions/checkout@v5

      - name: Configurar Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      # compila los java y los deja en out
      - name: Compilar código Java
        run: javac -d out src/*.java

      # indica la ruta (classspath) dpmnde están los archivos a ejecutar. El -ea habilita las aserciones *(por defecto java ejecurta sin aserciones
      - name: Ejecutar tests con asserts
        run: java -ea -cp out CalculadoraTest

      # cfe: crea nuevo archivo jar, f indica el nombre que tendrá el archivo que crea, e: entry point, especifica cual es la clase principal
      - name: Crear archivo JAR ejecutable
        run: |
          cd out
          jar cfe Calculadora.jar Main *.class

      - name: Probar ejecución del JAR
        run: java -jar out/Calculadora.jar

      - name: Guardar el artefacto generado
        uses: actions/upload-artifact@v5
        with:
          name: calculadora-jar
          path: out/Calculadora.jar
          
